{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Profile Info</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/profile_info.css' %}">
</head>
<body>
    <h1>Your Profile Info</h1>
    <div class="profile-container">
        <p><strong>Username:</strong> {{ profile.user.username }}</p>
        <p><strong>Age:</strong> {{ profile.age }}</p>
        <p><strong>Weight:</strong> {{ profile.weight }} kg</p>
        <p><strong>Height:</strong> {{ profile.height }} cm</p>
        <p><strong>Medical Conditions:</strong> {{ profile.medical_conditions }}</p>

        <a href="{% url 'edit_profile' %}" class="button">Edit Profile</a>
        <a href="{% url 'meal_list' %}" style="display: inline-block; padding: 10px 20px; background-color: #4CAF50; color: white; text-decoration: none; border-radius: 5px; margin-left: 10px;">Home</a>
    </div>
</body>
</html>
